/* Navigation */
@media only screen and (max-width: 905px) {

	.menu{
		display: none;
	}
	.head{
		background: none;
		&_block{
			padding-top: 53px;
		}
	}
	.head_block{
		flex-direction: column-reverse;
		&_right{
			justify-content: center;
			img{
				width: 80%;
				height: 80%;
			}
		}
		&_left{
			padding-top: 50px;
			form{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

@media only screen and (min-width: 906px) {
	
	.hamburger{
		display: none;
	}
}
/* END Navigation */
@media only screen and (max-width: 905px) {
	
	.help_block{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.help_block_right_content{
		padding-bottom: 40px;
	}
	.help_block_right_content:nth-child(2n) {
		padding-left: 20px;
	}
	.help_block_right_content_box_description{
		padding-left: 10px;
	}
	.btn_top{
		display: block;
	}
}

@media only screen and (max-width: 639px) {
	.contacts span{
		color: $colorDarkGrey;
	}
}
@media only screen and (max-width: 1343px) {

	.sidePanelRight {
		display: none;
	}
}
