$colorBtnOrange: #fb6a4e;
$colorBtnLightPink: #fda085;
$colorBtnPink: #ff606a;

$colorWhite: #fff;
$colorBlack: #000;

$colorLightSeaGreen: #1cb69d;
$colorGrey: #999;
$colorLightGrey: #fafafa;
$colorDarkGrey: #272f2f;